exclude: ^src/nemos/third_party/

repos:
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
    - id: black
      args: [ "--check" ]
      # Only include src/, but exclude third_party/
      files: ^src/(?!nemos/third_party)

- repo: https://github.com/pycqa/isort
  rev: 6.0.1
  hooks:
    - id: isort
      args: ["--profile", "black", "--check-only"]
      files: ^src/(?!nemos/third_party)|^docs/how_to_guide/|^docs/background/|^docs/tutorials/

- repo: https://github.com/pycqa/flake8
  rev: 7.2.0
  hooks:
    - id: flake8
      args: ["--config=tox.ini"]
      files: ^src/(?!nemos/third_party)

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  # note: pre-commit runs top-to-bottom, so put the hooks that modify content first,
  # followed by checks that might be more likely to pass after the modification hooks (like flake8)
  hooks:
  # Checks for large files added to the repository, typically to prevent accidental inclusion of large binaries or datasets.
  - id: check-added-large-files
  # Detects potential filename conflicts due to case-insensitive filesystems (e.g., Windows) where File.txt and file.txt would be considered the same.
  - id: check-case-conflict
  # Checks for files that contain merge conflict strings (e.g., <<<<<<<, =======, >>>>>>>).
  - id: check-merge-conflict
  # Validates YAML files for syntax errors.
  - id: check-yaml
  # Detects debug statements (e.g., print, console.log, etc.) left in code.
  - id: debug-statements
  # Ensures files have a newline at the end.
  - id: end-of-file-fixer
  # Removes trailing whitespace characters from files.
  - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.5
  hooks:
    - id: ruff
      args: ["--fix", "--config=pyproject.toml"]
      files: ^src/

- repo: local
  hooks:
    - id: check-parameter-naming
      name: Check parameter naming consistency
      entry: python scripts/check_parameter_naming.py
      language: system
      types: [python]
      pass_filenames: false
