site_name: nemos
repo_url: https://github.com/flatironinstitute/nemos

theme:
  name: 'material'                         # The theme name, using the 'material' theme
  palette:
    primary: 'light blue'                   # The primary color palette for the theme
    features:
      - navigation.tabs                    # Enable navigation tabs feature for the theme
  markdown_extensions:
    - md_in_html
    - admonition
    - tables

# if footnotes is defined in theme doesn't work
# If md_in_html is defined outside theme, it also results in
# an error when building the docs.
markdown_extensions:
  - footnotes

plugins:
  - search
  - gallery:
        conf_script: docs/gallery_conf.py
        # path to the directory containing our background/neural_modeling
        examples_dirs:
          - docs/background
          - docs/api_guide
          - docs/neural_modeling
        # path to the directory where mkdocs will save the generated output
        gallery_dirs:
          - docs/generated/background
          - docs/generated/api_guide
          - docs/generated/neural_modeling
  - gen-files:
      scripts:
        - docs/gen_ref_pages.py            # Specify the script to generate the code reference pages
  - literate-nav:
        nav_file: docs/SUMMARY.md           # Specify the navigation file for literate-style navigation
  - section-index                           # Enable the section-index plugin for generating a section index
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy         
            show_source: true
            members_order: source
            inherited_members: true

extra_javascript:
  - javascripts/katex.js
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/contrib/auto-render.min.js

extra_css:
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.css

nav:
    - Home: index.md                          # Link to the index.md file (home page)
    - Installation Instructions: installation.md # Link to the installation.md file
    - Quickstart: quickstart.md
    - Background: generated/background    # Link to the generated gallery Tutorials
    - API Guide: generated/api_guide # Link to the generated gallery neural_modeling
    - Neural Modeling: generated/neural_modeling # Link to the generated gallery neural_modeling
    - For Developers: developers_notes/       # Link to the developers notes
    - Code References: reference/             # Link to the reference/ directory
